body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: darkblue;
}

input {
    background-color: white;
    padding: 5px;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
}

select {
    background-color: darkblue;
    color: white;
    font-size: large;
    padding: 5px;
}

#currencyList2 {
    margin-bottom: 15px;
}

canvas {
    display: block;
    margin: 0 auto;
}

#start {
    margin-right: 10px;
}

#dateSelection {
    margin: 10px 10px;
}

@media only screen and (max-width: 600px) {
    h1 { 
        font-size: 22px;
    }

    input {
        width: 75%;
        height: 10%;
    }

    select {
        width: 15%;
        height: 10%;
    }

    canvas {
        width: 80%;
        height: 40%;
    }
  }