body {
    background-color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: darkblue;    
}

input {
    background-color: white;
    padding: 5px;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    width: 15%;
}

select {
    background-color: darkblue;
    color: white;
    font-size: large;
    padding: 5px;
}

canvas {
    display: block;
    margin: 0 auto;
    width: 40%;
}


#start {
    margin-right: 10px;
}

#dateSelection {
    margin-top: 10px;
}




